@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("/fonts/user/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 300;
  src: url("/fonts/user/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 700;
  src: url("/fonts/user/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  src: url("/fonts/user/Rubik-Medium.ttf");
}
@font-face {
  font-family: "Atziluth";
  src: url("/fonts/user/Atziluth-Script.ttf");
}
@media only screen and (max-width: 767px) {
  .cat-content {
    margin: 10px 0;
  }
}
.cat-content .product-grid-row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

.product-grid-item {
  margin: auto 10px;
  padding: 0 0 20px 0;
  position: relative;
  min-width: 200px;
  flex: 1;
}
@media only screen and (min-width: 992px) {
  .product-grid-item {
    width: 31%;
    max-width: 31%;
  }
}
@media only screen and (max-width: 991px) {
  .product-grid-item {
    width: 48%;
    max-width: 48%;
  }
}
@media only screen and (max-width: 469px) {
  .product-grid-item {
    width: 100%;
    max-width: 100%;
  }
}
.product-grid-item .product-grid-icon-row {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1;
}
.product-grid-item .product-grid-icon-row .product-grid-icon-item {
  width: 40px;
  height: 40px;
}
.product-grid-item .product-grid-icon-row .product-grid-icon-item .product-grid-icon-link {
  width: 40px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
}
.product-grid-item .product-grid-icon-row .product-grid-icon-item .product-grid-icon-link .product-grid-icon-image {
  width: 40px;
  height: 40px;
}
.product-grid-item .product-carousel-icon-row-left {
  position: absolute;
  top: -8px;
  left: -10px;
  z-index: 1;
}
.product-grid-item .product-carousel-icon-row-left .product-carousel-icon-item {
  width: 40px;
  height: 40px;
}
.product-grid-item .product-carousel-icon-row-left .product-carousel-icon-item .product-carousel-icon-link {
  width: 40px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
}
.product-grid-item .product-carousel-icon-row-left .product-carousel-icon-item .product-carousel-icon-link .product-carousel-icon-image {
  width: 36px;
  height: 36px;
}

.product-grid-link {
  text-decoration: none;
  cursor: pointer;
}
.product-grid-link .product-grid-image-row {
  position: relative;
  height: 200px;
}
.product-grid-link .product-grid-image-row .product-grid-image {
  width: 100%;
  height: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 4px 4px 0 0;
}
.product-grid-link .product-grid-image-row .product-grid-star-row {
  padding: 15px 25px 15px 25px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.9) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity: 0.95;
  z-index: 3;
}
.product-grid-link .product-grid-image-row .product-grid-star-row .product-grid-star-icon {
  padding: 0px 2px 2px 2px;
}
.product-grid-link .product-grid-image-row .product-grid-star-row .product-grid-star-icon:first-child {
  padding-left: 0;
}
.product-grid-link .product-grid-image-row .product-grid-star-row .prodcut-carousel-star-number {
  padding-left: 30px;
}
.product-grid-link .product-grid-image-row .product-grid-star-row .prodcut-carousel-star-number span {
  font-family: Rubik, sans-serif;
  font-size: 14px;
  color: #ffd949;
}
.product-grid-link .product-grid-desc {
  padding: 15px 25px 30px 25px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 20px 0 rgba(191, 191, 191, 0.5);
  border-radius: 0 0 4px 4px;
  width: 100%;
}
.product-grid-link .product-grid-desc .product-grid-title {
  max-height: 55px;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 18px;
  overflow: hidden;
}
.product-grid-link .product-grid-desc .product-grid-city {
  padding: 8px 0;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  color: #000;
  opacity: 0.3;
}
.product-grid-link .product-grid-desc .product-grid-price {
  padding-bottom: 10px;
  font-family: Rubik-bold;
  font-size: 20px;
  color: #000;
}
.product-grid-link .product-grid-desc .product-grid-price .price-currency {
  font-size: 14px;
}
.product-grid-link .product-grid-desc .product-grid-btn {
  padding: 18px 0;
  width: 100%;
  background: #ed2025;
  box-shadow: 0 2px 10px 0 #d4393d;
  border-radius: 4px;
  text-align: center;
  font-family: Rubik-bold;
  font-size: 16px;
  color: #fff;
}
.product-grid-link .product-grid-desc .product-grid-btn:hover {
  background: #e33235;
}

.carousel-icon-item {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
}
.carousel-icon-item .carousel-icon-link {
  width: 40px;
  height: 40px;
  text-decoration: none;
  cursor: pointer;
  z-index: 5;
}
.carousel-icon-item .carousel-icon-link .carousel-icon-image {
  width: 40px;
  height: 40px;
  z-index: 5;
}
.carousel-icon-item .product-carousel-hover-icon {
  display: none;
}
.carousel-icon-item:hover .product-carousel-hover-icon {
  position: absolute;
  top: 5px;
  right: 33px;
  display: block;
  padding: 8px;
  width: 164px;
  background: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-align: right;
  font-family: Rubik-medium;
  box-shadow: 0 2px 10px 0 rgba(191, 191, 191, 0.5);
  z-index: 4;
}

.icon-item-sale .sale-custom-icon {
  width: 38px;
  height: 38px;
  background: #ed2025;
  border-radius: 20px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Rubik-medium;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff;
  z-index: 5;
}
.icon-item-sale .product-carousel-icon-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.icon-item-sale .product-carousel-icon-link .product-carousel-icon-image-promo {
  align-items: center;
  align-content: center;
}
.icon-item-sale .product-carousel-hover-icon {
  color: #000;
  z-index: 4;
}
/*# sourceMappingURL=product-grid.css.map*/