/node_modules
/public/hot
/public/storage
/public/js
/public/tests
/public/css
/public/svg
/storage/*.key
package-lock.json
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.ppk
/.vscode
sftp.txt
public/mix-manifest.json
/.idea
.idea/misc.xml

dbData/
/storage/
