@font-face {
  font-family: Rubik, sans-serif;
  src: url("/fonts/user/Rubik-Regular.ttf");
}
@font-face {
  font-family: Rubik-Light, sans-serif;
  src: url("/fonts/user/Rubik-Light.ttf");
}
@font-face {
  font-family: Rubik-bold;
  src: url("/fonts/user/Rubik-Bold.ttf");
}
@font-face {
  font-family: Rubik-medium;
  src: url("/fonts/user/Rubik-Medium.ttf");
}
@font-face {
  font-family: Atziluth;
  src: url("/fonts/user/Atziluth-Script.ttf");
}
.is-open {
  display: block;
  animation: opacity-dropdown 400ms ease-in-out;
}

.is-none {
  display: none;
}

.cat-sidebar {
  padding: 22px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(214, 214, 214, 0.5);
}
@media only screen and (max-width: 767px) {
  .cat-sidebar {
    display: none;
  }
}

.sidebar-list-parent {
  padding: 10px 0;
  position: relative;
  cursor: pointer;
}
.sidebar-list-parent .parent-title {
  width: 100%;
}
.sidebar-list-parent.cat-sidebar-dropdown .parent-title::after {
  content: " ";
  position: absolute;
  top: 12px;
  right: 0;
  background: url("/images/icons/sidebar-arrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}
.sidebar-list-parent.cat-sidebar-dropdown .parent-title.cat-bold::after {
  transform: rotate(180deg);
}

.cat-sidebar-list-child {
  padding: 5px 0;
  cursor: pointer;
}
.cat-sidebar-list-child:first-child {
  padding-top: 0;
}
.cat-sidebar-list-child:last-child {
  padding-bottom: 0;
}

.cat-sidebar-dropdown-list.is-open {
  margin-left: 30px;
}

.cat-sidebar-list-child .cat-sidebar-dropdown-list {
  padding: 5px 0 !important;
}

.cat-sidebar-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.cat-sidebar-buttons .sidebar-buttons-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.cat-sidebar-buttons .sidebar-buttons-links {
  margin: 7px auto;
  padding: 10px 14px;
  width: 100%;
  text-decoration: none;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-vip {
  background: #150601;
  border: 1px solid #e1c077;
  border-radius: 4px;
  color: #e1c077;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-vip .button-container .button-vip-icon-col .button-icon-white {
  display: block;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-vip .button-container .button-vip-icon-col .button-icon-color {
  display: none;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-vip .button-container .button-vip-text-col {
  color: #e1c077;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-vip:hover {
  background: #ffffff;
  color: #e1c077;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-vip:hover .button-container .button-vip-icon-col .button-icon-white {
  display: none;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-vip:hover .button-container .button-vip-icon-col .button-icon-color {
  display: block;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-vip:hover .button-container .button-vip-text-col {
  color: #e1c077;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-promotion {
  border-radius: 4px;
  border: 1px solid #ffffff;
  background: #58e223;
  color: #ffffff;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-promotion .button-container .button-promotion-icon-col .button-icon-white {
  display: block;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-promotion .button-container .button-promotion-icon-col .button-icon-color {
  display: none;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-promotion .button-container .button-vip-text-col {
  color: #ffffff;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-promotion:hover {
  background: #ffffff;
  border: 1px solid #58e223;
  color: #58e223;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-promotion:hover .button-container .button-promotion-icon-col .button-icon-white {
  display: none;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-promotion:hover .button-container .button-promotion-icon-col .button-icon-color {
  display: block;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-promotion:hover .button-container .button-vip-text-col {
  color: #58e223;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-new {
  border-radius: 4px;
  border: 1px solid #ffffff;
  background: #ffd949;
  color: #ffffff;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-new .button-container .button-new-icon-col .button-icon-white {
  display: block;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-new .button-container .button-new-icon-col .button-icon-color {
  display: none;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-new .button-container .button-vip-text-col {
  color: #ffffff;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-new:hover {
  background: #ffffff;
  border: 1px solid #ffd949;
  color: #ffd949;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-new:hover .button-container .button-new-icon-col .button-icon-white {
  display: none;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-new:hover .button-container .button-new-icon-col .button-icon-color {
  display: block;
}
.cat-sidebar-buttons .sidebar-buttons-links.button-new:hover .button-container .button-vip-text-col {
  color: #ffd949;
}

.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.button-container .button-vip-icon-col,
.button-container .button-promotion-icon-col,
.button-container .button-new-icon-col {
  margin-right: 14px;
  width: 20px;
}
.button-container .button-vip-icon-col .button-vip-icon,
.button-container .button-vip-icon-col .button-promotion-icon,
.button-container .button-vip-icon-col .button-new-icon,
.button-container .button-promotion-icon-col .button-vip-icon,
.button-container .button-promotion-icon-col .button-promotion-icon,
.button-container .button-promotion-icon-col .button-new-icon,
.button-container .button-new-icon-col .button-vip-icon,
.button-container .button-new-icon-col .button-promotion-icon,
.button-container .button-new-icon-col .button-new-icon {
  max-width: 20px;
}
.button-container .button-vip-text-col,
.button-container .button-promotion-text-col,
.button-container .button-new-text-col {
  margin: auto 0;
  text-align: left;
  font-size: 14px;
  font-family: Rubik, sans-serif;
}

@keyframes opacity-dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sidebar-list-parent {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #000;
}
.sidebar-list-parent:active, .sidebar-list-parent:focus, .sidebar-list-parent:visited, .sidebar-list-parent:link {
  color: #000;
}
.sidebar-list-parent a:active, .sidebar-list-parent a:focus, .sidebar-list-parent a:visited, .sidebar-list-parent a:link {
  color: #000;
}

.cat-sidebar-dropdown-list .cat-sidebar-list-child {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #000;
}

.profile-sidebar {
  margin-bottom: 20px;
  padding: 22px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(214, 214, 214, 0.5);
}
.profile-sidebar .sidebar-list-parent {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #000;
}
.profile-sidebar .sidebar-list-parent.profile-list-active {
  font-family: Rubik-bold;
}

.information-sidebar {
  padding: 22px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(214, 214, 214, 0.5);
}
.information-sidebar .sidebar-list-parent {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #000;
}
.information-sidebar .sidebar-list-parent.information-list-active {
  font-family: Rubik-bold;
}

a.parent-title:active {
  font-family: Rubik-bold;
}

.cat-sidebar-title-row {
  width: 100%;
}
.cat-sidebar-title-row .cat-sidebar-title {
  padding: 0 10px 20px 10px;
  font-family: Rubik-medium;
  font-size: 30px;
  color: #000;
}
/*# sourceMappingURL=sidebar.css.map*/