.cart-type-tabs-row .type-tabs-item {
  background: red !important;
}

.home-carousel-row {
  display: none !important;
}
.home-carousel-row .swiper-button-next {
  background: transparent !important;
  color: #999;
}

body {
  display: none;
}