<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="../../../public/css/style.css" />
    <link
            href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700"
            rel="stylesheet"
    />

    <title>Layouts</title>
</head>
<body>
<header></header>
<footer>
    <div class="container">
        <div class="ph-footer_m">
            <div class="row">
                <div class="col-lg-4 ph-footer_m--left">
                    <h3 class="left-title">Nowości</h3>
                    <a class="post" href="#">
                        <div class="post--left">
                            <img
                                    src="../user-panel/user-panel-images/product-test/product-test-1.jpg"
                                    alt="PoliszHome"
                            />
                        </div>
                        <div class="post-right">
                            <p href="post-title">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Iure incidunt tenetur
                                quas porro minima id explicabo vitae?
                                Recusandae commodi quasi quis nostrum
                                accusamus illum harum ipsam a non.
                                Iusto, nesciunt.
                            </p>
                            <p class="post-date">
                                Kwiecien 12, 2019
                            </p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 ph-footer_m--cent"></div>
                <div class="col-lg-4 ph-footer_m--right"></div>
            </div>
        </div>
        <div class="ph-footer_b"></div>
    </div>
</footer>
</body>
</html>