.ph-footer_m {
    @include border;
    // padding: 30px 25px;
    &--left {
        border: 2px solid blue;
        .left-title {
            font-family: "Playfair Display";
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .post {
            display: flex;
            &--left {
                width: 300px;
                height: auto;
            }
        }
    }
}
